<h1>Products </h1>

<div>
  <%= link_to "New Product",new_product_path %>  <%= link_to "log in", new_session_path %>
</div>

<div>
  <% @products.each do |product| %>
  <p><%= link_to product.name, product_path(product.id) %>,  <%= product.description %>, <%= product.formatted_price %> </p>
</div>






<% end %>
